.conte{
    background-color: #e8e8e8;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.tabled{
    margin-top: 20px;
    width: 90%;
}
.tdcolor{ 
    height: 60px;
}
.inputone{
    padding-left: 20px;
    width: 70px;
}
.tdtitle{
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    height: 60px;
    text-align: center;
}
.color{
    padding: 10px;
    width: 60px;
    height: 40px;
    border-radius: 5px;
}
.tdtext{
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}
.continput{
    opacity: 0;
    width: 90%;
    margin-top: 50px;
    transition: all ease-in .3s;
    background-color: white;
    max-height: 55px;
    border-radius: 30px;
}
.animatecard{
    margin-top: 30px;
    opacity: 1;
}
.continputtr{
    width: 100%;
    max-height: 55px;
}
.inputcolor{
    width: 100%;
    border-radius: 20px;
    border: none;
}
.inputcolor{
    padding-top: 5px;
    width: 80%;
}
.itemnextpage{
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #1a5ef3;
    transform: scale(0.5);
    transition: all ease-in .1s;
    opacity: 0;
}
.btnadd{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a5ef3;
    border: none;
    color: white;
}
.animatebtnfixed{
    transform: scale(1);
    opacity: 1;
}
.menuvert{
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    margin-top: -20;
    background-color: #1a5ef3;
    transition: all ease-in .2s;
}
.menuanimation{
    margin-top: 0px;
    opacity: 1;

}
.leftmenu{
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-left: 20px;
    font-weight: 500;
    color: white;
}
.rigthmenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
}
.rigtmenut{
    font-size: 15px;
    color: #f2f2f2;
    margin-right: 5px;
    margin-left: 20px;
}