<div style="display: flex;justify-content: center;align-items: center;flex-direction: row;">
    <div matRipple (click)="select(1)" style="padding: 12px;display: flex;justify-content: center;align-items: center;flex-direction: column; cursor: pointer;border: 1px solid #4258ff;border-radius: 5px; margin: 10px;">
        <img src="https://cdn-icons-png.flaticon.com/512/52/52816.png" style="width: 80px;padding: 20px;"/>
        <span style="font-weight: 500; color: #4258ff;font-size: 16px;">Caido</span>
    </div>
    <div matRipple (click)="select(2)" style="padding: 10px;display: flex;justify-content: center;align-items: center;flex-direction: column; cursor: pointer;border: 1px solid #4258ff;border-radius: 5px; margin: 10px;">
        <img src="https://cdn-icons-png.flaticon.com/512/52/52816.png" style="width: 80px;padding: 20px;"/>
        <span style="font-weight: 500; color: #4258ff;font-size: 16px;">Recusado</span>
    </div>
</div>