<div class="container">
    <mat-progress-bar *ngif="indicator" class="indicator" mode="indeterminate" value="40"></mat-progress-bar>
    <div class="form">
        <mat-label class="title">Motivo Recusado</mat-label>

          <mat-form-field class="finput">
              <mat-label>Motivos</mat-label>
              <input #input maxlength="150" minlength="1" [(ngModel)]="name_mot" required matInput placeholder="Ex. Extravio" value="">
              <mat-hint>{{input.value?.length || 0}}/150</mat-hint>
            </mat-form-field>
            <mat-form-field class="finput">
              <mat-label>Detalles</mat-label>
              <textarea #textarea maxlength="250" minlength="1" [(ngModel)]="descrip_mot" name="" required matInput placeholder="Detalle el motivo"></textarea>
              <mat-hint>{{textarea.value?.length || 0}}/250</mat-hint>
            </mat-form-field>
            <button mat-stroked-button class="buttoms"  (click)="savemotivform()">Guardar</button>

    </div>

    <mat-accordion class="accordion">
        <mat-expansion-panel (click)="loaddata()" class="expansion" (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header class="expansion">
            <mat-panel-title>
              Ver Registros
            </mat-panel-title>
          </mat-expansion-panel-header>


          <table class="tablet">
            <tr class="trtable">
                <td class="tdtabletnum">Numero</td>
                <td class="tdtablet">Titulo</td>
                <td class="tdtablet">Descripcion</td>
                <td class="tdtablet">Opciones</td>
            </tr>
            <tr  class="tr2table" *ngFor="let data of list;let indice=index">
                <td class="tdtabletnum">{{indice + 1}}</td>
                <td class="tdtablet">{{data.name_mot}}</td>
                <td class="tdtablet">{{data.descrip_mot}}</td>
                <td class="tdtablet">
                      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                        <span class="material-icons">edit</span>
                      </button>
                      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                        <span class="material-icons">delete</span>
                      </button>
                </td>
            </tr>
          </table>

        </mat-expansion-panel>
      </mat-accordion>
</div>