<div class="container">
        <mat-form-field class="input" appearance="fill">
            <mat-label>Num. lote</mat-label>
            <input id="input-code" (keyup.enter)="search()" minlength="19" (change)="search()" value="" matInput placeholder="ABC123" required>
            <mat-icon matSuffix>qr_code_scanner</mat-icon>
          </mat-form-field>

          <mat-accordion class="accordion">
            <mat-expansion-panel *ngFor="let lote of arrLotes" hideToggle [disabled]="panelOpenState">
              <mat-expansion-panel-header>
                <mat-panel-title style="margin-right: 10px;">
                    <span class="title">Cantidad: </span>
                </mat-panel-title>
                <mat-panel-description>
                    <span class="text"> {{ lote.cantidad }}</span>
                </mat-panel-description>
                <button mat-icon-button class="btnicon" (click)="verified()" ><span class="iconst material-icons">edit</span></button>
              </mat-expansion-panel-header>

              <div class="cont">
                <mat-form-field class="inpust">
                    <mat-label>Motivos</mat-label>
                    <mat-select [formControl]="motives">
                      <mat-option *ngFor="let motiv of motivesitems" [value]="motiv">
                        {{motiv}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
    
                  <mat-form-field class="inpust">
                    <mat-label>Camtidad</mat-label>
                    <input type="number" max="25" min="0" matInput [formControl]="cant" placeholder="1">
                    <mat-error *ngIf="cant.hasError('required')">La cantidad es requerida </mat-error>
                  </mat-form-field>
                  <button mat-flat-button class="butom" (click)="savedata()">Guardar</button>
              </div>
              
            </mat-expansion-panel>
          </mat-accordion>
</div>


<div class="d-flex justify-content-end p-3 bg-info" style="color: white;">
    <mat-icon>person_pin_circle</mat-icon> {{data_head | titlecase }}
</div>

<div class="conts table-responsive container-fluid">
    <div class="container-fluid m-3" >
        <mat-form-field class="example-full-width w-100" appearance="fill" >
            <mat-label> <mat-icon>qr_code_scanner</mat-icon> Cod. Lote</mat-label>
            
            <input matInput
                   placeholder="cod_lote_00000001"
                   [(ngModel)]="_codec_in"
                   (keyup.enter)="getLotes(_codec_in)">

        </mat-form-field>
    </div>


    <div class="container-fluid d-flex justify-content-center">

        <div  *ngIf="_product" >
            <div class="card" style="width: 18rem;" *ngFor="let x of arrLotes">
                <div class="card-body">
                  <h5 class="card-title">Cantidad: {{ x.cantidad }}</h5>
                </div>
              </div>
              <select class="form-select" aria-label="Default select example">
                <option selected>Opciones recusados:</option>
                <option value="2">Robado</option>
                <option value="3">Perdidos</option>
                <option value="4">Dañados</option>
              </select>

              <div class="mt-2 mb-2">
                  <label for=""> Número: </label>
                  <input class="form-control" type="number" >
              </div>
              <div class="mb-2">
                  <button class="btn btn-success">
                      Reportar
                  </button>
              </div>
        </div>
    
    </div>

</div>
