.contas{
    width: 100%;
    min-height: calc(100vh - 30px);
    display: flex;
    background-color: #f2f2f2;
    flex-direction: column;
}
.hiddentitle{
    display: none;
}
.menuvert{
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.leftmenu{
    font-size: 18px;
    margin-left: 20px;
    font-weight: 500;
    color: #2853ff;
}
.rigthmenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
}
.rigtmenut{
    font-size: 15px;
    color: #333333;
    margin-right: 5px;
    margin-left: 20px;
}
.topdiv{
    width: 90%;
    padding: 15px;
    height: 60px;
}
.contitems{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.icos {
    width: 35px;
    text-shadow: 2px 2px 4px rgba(5,12,31,0.4);
    margin: auto;
}
.items{
    margin: 25px 10px;
    width: 120px;
    height: 120px;
    border-radius: 8px;
    border: 1px solid #2853ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
}

@keyframes enteranim {
    0% {
        opacity: 0;
        transform: translateX( -180px );
    }

    60% {
        opacity: 0.7;
        transform: translateX( 20px );
    }75% {
        opacity: 0.8;
        transform: translateX( -6px );
    }100% {
        opacity: 1;
        transform: translateX( 0px );
    }
}


@keyframes outanim {
    0% {
        opacity: 1;
        transform: translateX( 0px );
    }

    20% {
        opacity: 0.5;
        transform: translateX( 10px );
    }

    100% {
        opacity: 0;
        transform: translateX( -180px );
    }
}

