.mods {
    border: solid 0.5px royalblue;
    width: 120px;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    color: royalblue;
    opacity: 0;
    font-size: 7pt;
}


.icos {
    width: 35px;
    text-shadow: 2px 2px 4px rgba(5,12,31,0.4);
    margin: auto;
}


@keyframes enteranim {
    0% {
        opacity: 0;
        transform: translateX( -180px );
    }

    80% {
        opacity: 0.5;
        transform: translateX( 30px );
    }

    100% {
        opacity: 1;
        transform: translateX( 0px );
    }
}


@keyframes outanim {
    0% {
        opacity: 1;
        transform: translateX( 0px );
    }

    20% {
        opacity: 0.5;
        transform: translateX( 10px );
    }

    100% {
        opacity: 0;
        transform: translateX( -180px );
    }
}

