<div class="conts container-flud">
<div class="p-2">
    Bienvenido, <strong> {{ user | titlecase }} </strong>    
</div>
<div class="container-fluid d-flex justify-content-center align-items-center flex-wrap "
     style="height: 300px;">
    <div  class="mods m-3 d-flex justify-content-center 
                 align-items-center flex-column " (click)="relink(x.icon_module, x.id)"
          *ngFor="let x of modsArr" id="{{ x.id }}" >
        <div class="icos">
            <mat-icon style="font-size: 30pt !important;" >{{x.icon_module}}</mat-icon>
        </div>
        <p class="supheader" style="text-align: center;">
            {{ x.name_module }}
        </p>
    </div>
</div>
</div>