
<div class="d-flex justify-content-end p-3 bg-info" style="color: white;">
    <mat-icon>person_pin_circle</mat-icon> {{data_head | titlecase }}
 </div>


<div class="conts table-responsive container-fluid">
    <div id="inptsSettings" class="d-flex justify-content-between align-items-center">

            <input type="color" class="form-control form-control-color" style="width: 40px;" [(ngModel)]="_color" id="exampleColorInput">
            <mat-form-field class="example-full-width mt-4" appearance="fill">
                <mat-label>Descripción:</mat-label>
                <input matInput placeholder="----"  [(ngModel)]="_valor" >
            </mat-form-field>
            <button class="btn btn-primary" (click)="secuenciador(); salpmaster(_color, _valor)">
                <mat-icon>add</mat-icon>
            </button>
    </div>
    <hr>
    <table class="table table-dark  " >
        <thead class="table-primary" >
            <th>Color</th>
            <th>Valor</th>
            <!-- <th>
                <mat-icon style="background-color: transparent;">edit</mat-icon>
            </th> -->
            <th>
                <mat-icon style="background-color: transparent;">delete</mat-icon>
            </th>
        </thead>
        <tbody *ngFor=" let x of arrGcolor" >
            <tr>
                <td [ngStyle]="{'background-color': x.hex_cod_color}">
                    
                </td>
                <td>
                    {{x.name_labor}}
                </td>
                <!-- <td>
                    <mat-icon>edit</mat-icon>
                </td> -->
                <td (click)="dcolor(x.s_codec)" >
                    <mat-icon>delete</mat-icon>
                </td>
            </tr>
        </tbody>
    </table>

</div>



