.container{
    width: 100%;
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-list{
    padding: 15px;
    background-color: white;
    margin-top: 30px;
    width: 80%;
    border-radius: 6px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.55);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.search{
    width: 100%;
    height: 50px;
    display: flex;
}
.tablet{
    width: 100%;
}
.trtablet{
    height: 50px;
    border-bottom: 1px solid rgb(0, 0, 0);
}
.tdclasst{
    text-align: center;
    font-weight: 500;
    color: #333333;
    font-size: 16px;
}
.tdclass{
    text-align: center;
}
.btnicon{
    transition: all ease-in .9s;
}
.icons{
    opacity: 0.3;
}
.container-add{
    background-color: white;
    margin-top: 30px;
    width: calc(80% + 30px);
    overflow: hidden;
    border-radius: 6px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.55);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
::ng-deep .mat-progress-bar-fill::after {
    background-color: #333333;
}

::ng-deep .mat-progress-bar-buffer {
    background: #c9c9c9;
}
.title{
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    color: #333333;
}
.form{
    padding: 30px;
}
.inputf{
    margin: 4px 0px;
    width: 100%;
}
.butoms{
    width: 100%;
    margin: 10px 0px;
    background-color: #333333;
    color: white;
}
.inputsdis{
    width: 100%;
    text-align: center;
    font-weight: 400;
    color: #333333;
    font-size: 16px;
    border: 0;
}
.tdwidth1{
    width: 20%;
}
.tdwidth1{
    width: 70%;
}
.tdwidth1{
    width: 10%;
}