<div class="contener">
    <div class="menuvert" [class.menuanimation]="show">
        <div class="leftmenu" ngClass.lt-sm="hiddentitle"><span class="material-icons" style="color: white;margin-right: 5px;">{{icon}}</span> {{title_header | titlecase}}</div>
        <div class="rigthmenu">
            <div class="rigtmenut">Bienvenido, <span style="font-weight: 500;"> {{ user | titlecase }} </span></div>
            <button (click)="logout()" style="margin-left: 10px;" mat-icon-button><mat-icon style="color: white;">logout</mat-icon></button>
        </div>
      </div>
      <mat-card class="carditems" [ngStyle.xs]="{'width' : '90%'}" [class.carditemsanit]="show">
        <button id="btncolorselect" (click)="gcolor()" class="btnselectcolor" mat-button  [ngStyle.xs]="{'width' : '100%'}">Selecione un color</button>
        <mat-form-field class="inputscolors" appearance="fill" [ngStyle.xs]="{'width' : '100%'}">
            <mat-label>Año</mat-label>
            <input matInput placeholder="" disabled [(ngModel)]="_periodo" >
        </mat-form-field>
        <mat-form-field class="inputscolors" appearance="fill"  [ngStyle.xs]="{'width' : '100%'}">
            <mat-label>Semana</mat-label>
            <input matInput placeholder="" [(ngModel)]="_semana" >
        </mat-form-field>
        <mat-form-field appearance="fill" class="inputscolors"  [ngStyle.xs]="{'width' : '100%'}">
            <mat-label>Rango de fechas:</mat-label>
            <mat-date-range-input [rangePicker]="rangePicker">
              <input matStartDate placeholder="Start date" [(ngModel)]="_startDate" >
              <input matEndDate   placeholder="End date"   [(ngModel)]="_endDate"   >
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker>
              <mat-date-range-picker-actions>
                <button mat-button matDateRangePickerCancel>Cancelar</button>
                <button mat-raised-button color="primary" matDateRangePickerApply>Aplicar</button>
              </mat-date-range-picker-actions>
            </mat-date-range-picker>
          </mat-form-field>
          <div style="width: 100%;margin-top: 15px;">
            <button (click)="sDP08ACAL(_startDate, _endDate )" style="background-color: #1a5ef3; color: white;" mat-raised-button>Crear</button>
        </div>
      </mat-card>
      <table class="tbitems1" style="margin: 40px 0px;" [class.carditemsanit]="show">
        <tr class="tritems11">
            <td class="tditems11">Color</td>
            <td class="tditems11">Año</td>
            <td class="tditems11">Semana</td>
            <td class="tditems11" style="cursor: pointer;" (click)="orderType()">Fec. inicio</td>
            <td class="tditems11"  style="cursor: pointer;" (click)="orderType()">Fec. Fin</td>
            <td class="tditems11"></td>
        </tr>
        <tr class="tritems12"  *ngFor="let data of arrDp08acal; index as i">
            <td class="tditems12"><div [ngStyle]="{'background-color': data.color_asign}" class="colormuestraitem"></div></td>
            <td class="tditems12">{{ data.anio  }}</td>
            <td class="tditems12">{{ data.sema }}</td>
            <td class="tditems12">{{ data.finicio | date: 'd/M/yy'}}</td>
            <td class="tditems12">{{ data.ffin | date: 'd/M/yy'}}</td>
            <td class="tditems12" style="display: flex;flex-direction: row;">
                <button (click)="delDP08ACAL(data.anio, data.peri, data.sema)" style="margin-top: 7px;" mat-icon-button class="btnicon" ><span class="iconst material-icons">clear</span></button>
            </td>
        </tr>
        </table>
    <button [class.animatebtnfixed]="show" (click)="nextpage()" mat-fab class="itemnextpage" color="primary" aria-label="Example icon button with a delete icon"><mat-icon> warehouse</mat-icon></button>
</div>
