<div class="conts table-responsive container-fluid " >
    
    <mat-accordion *ngFor="let x of arrSync" class="p-4">
        <mat-expansion-panel  (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="d-flex align-items-center" >
              <mat-icon> {{x.ico_mod}} </mat-icon> {{x.nombre_mod}}
            </mat-panel-title>
            <mat-panel-description>
              <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
            </mat-panel-description>
          </mat-expansion-panel-header>
          <span class="note" style="font-size: 9pt; color: gray;">
              {{x.descrip_mod}}
          </span>
          <div class="table-responsive">
            <table class="table table-primary" >
                <thead class="table-primary" >
                    <th> Cantidad </th>
                    <th> Codec Master </th>
                    <th> F. Inicio </th>
                    <th> F. Fin </th>
                </thead>
                <tbody>
                    <tr *ngFor="let z of ArrAudit" >
                        <td>{{z.cantidad}}</td>
                        <td>{{z.hacienda_tag}}</td>
                        <td>{{z.finit | date: 'short'}}</td>
                        <td>{{z.ffin | date: 'short'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </mat-expansion-panel>
        
    </mat-accordion>
</div>