<div class="container">
    <div class="menuvert" [class.menuanimation]="show">
        <div class="leftmenu" ngClass.lt-sm="hiddentitle"><span class="material-icons" style="color: white;margin-right: 5px;">{{icon}}</span>{{title_header | titlecase}}</div>
        <div class="rigthmenu">
            <div class="rigtmenut">Bienvenido, <span style="font-weight: 500;"> {{ user | titlecase }} </span></div>
            <button (click)="logout()" style="margin-left: 10px;" mat-icon-button><mat-icon style="color: white;">logout</mat-icon></button>
        </div>
      </div>
    <div class="subcontainer" [class.animation]="show">
        <mat-form-field class="input" appearance="fill">
            <mat-label>Num. lote</mat-label>
            <input id="input-code" (keyup.enter)="getLotes()" (change)="getLotes()" value="" matInput placeholder="ABC123" required>
            <mat-icon matSuffix>qr_code_scanner</mat-icon>
          </mat-form-field>
          <div class="cardphone" *ngFor="let data of arrLotes1" [ngStyle.lt-sm]="{'display' : 'flex'}">
            <div class="seccions"><span class="title">Lote: </span><span class="text">{{ data.hacienda_tag | slice:0:15 }}</span> </div>
            <div class="seccions"><span class="title">Cantidad: </span><span class="text">{{data.cantidad}}</span> </div>
            <div class="seccions"><span class="title">Cant. Devolucion: </span>
                <div class="continput" style="margin: 0px;">
                    <div matRipple (click)="aument(1, data.cantidad)" class="aumentadores">-</div>
                    <input type="number" (changes)="aument(2, data.cantidad)" (keyup)="aument(2, data.cantidad)" [(ngModel)]="cantarest" class="inputnumber">
                    <div matRipple (click)="aument(0, data.cantidad)"  class="aumentadores">+</div>
                </div>
            </div>
            <div class="seccions"><span class="title">Total: </span><span class="totalnum" style="font-weight: 500;color: rgb(17, 218, 74);font-size: 17px;">{{ data.cantidad + cantarest }}</span> </div>
            <div class="seccions"><span class="title">Motivo: </span><textarea type="text" id="_obser" (keyup.enter)="sDevsobs( data.hacienda_tag, data.finit, _obser, data.cantidad, _dev_cant )" [(ngModel)]="_obser" class="textareaint" [value]=""></textarea></div>
           <button mat-raised-button class="butons" style="width: 100px;display: flex;margin-top: 20px;" (click)="sDevsobs( data.hacienda_tag, data.finit, _obser, data.cantidad, _dev_cant )">Guardar</button>
        </div>
         <table class="tbitems1"  *ngIf="arrLotesstate" [ngStyle.xs]="{'display' : 'none'}">
             <tr class="tritems11">
                 <td class="tditems11">Lote</td>
                 <td class="tditems11">Cantidad</td>
                 <td class="tditems11">Cant. Devolucion</td>
                 <td class="tditems11">Total</td>
                 <td class="tditems11">Motivo</td>
                 <td class="tditems11"></td>
             </tr>
             <tr class="tritems12" *ngFor="let data of arrLotes; index as i">
                <td class="tditems12">{{ data.hacienda_tag | slice:0:15 }}</td>
                <td class="tditems12">{{data.cantidad}}</td>
                <td class="tditems12" >
                    <div class="continput">
                        <div matRipple (click)="aument(1, data.cantidad)" class="aumentadores">-</div>
                        <input type="number" (changes)="aument(2, data.cantidad)" (keyup)="aument(2, data.cantidad)" [(ngModel)]="cantarest" class="inputnumber">
                        <div matRipple (click)="aument(0, data.cantidad)"  class="aumentadores">+</div>
                    </div>
                </td>
                <td class="tditems12"  style="font-weight: 500;color: rgb(17, 218, 74);font-size: 17px;">{{ data.cantidad + cantarest }}</td>
                <td class="tditems12">
                    <mat-form-field class="inputtextarea1" appearance="fill"> 
                    <textarea matInput [(ngModel)]="_obser" placeholder="Escriba el motivo aqui..."></textarea>
                  </mat-form-field></td>
                <td class="tditems12" style="height: 55px;"><button style="margin-right: 10px;" mat-icon-button class="btnicon" (click)="sDevsobs( data.hacienda_tag, data.finit, _obser, data.cantidad, cantarest )" ><span class="iconst material-icons">save</span></button></td>
            </tr>
         </table>
         <div class="scrollitemslist" [ngStyle.lt-sm]="{'display' : 'flex'}">
            <div class="itemslist" *ngFor="let data of arrDevs1; index as i">
                <button mat-icon-button (click)="verified(false, data.lote_prod, 0, '', 0,'', 0, false)" class="btnclearitem"><span style="color: white;" class="iconst material-icons">clear</span></button>
                <div class="seccions"><span class="titleitem">Devolución: </span><span class="textitem">{{ data.ffin  | date: 'short' }}</span> </div>
                <div class="seccions"><span class="titleitem">Des. Lote: </span><span class="textitem">{{ data.nom_lote }} </span> </div>
                <div class="seccions"><span class="titleitem">Motivo: </span><span class="textitem">{{ data.observ_dev }}</span> </div>
                <div class="seccions"><span class="titleitem">Lote prod.: </span><span class="textitem">{{ data.lote_prod }}</span> </div>
                <div class="seccions"><span class="titleitem">Cant. enfunde: </span><span class="textitem">{{ data.cant }}</span> </div>
                <div class="seccions">
                    <span class="titleitem">Cant. Dev.: </span>
                    <div class="continput" style="margin: 0PX;">
                       <div matRipple (click)="insercant(data.lote_prod, 1, i, data.cant)" class="aumentadores">-</div>
                       <input type="number" id="input-{{data.lote_prod}}-{{i}}" (changes)="insercant(data.lote_prod, 2, i, data.cant)" (keyup)="insercant(data.lote_prod, 2,i, data.cant)" [value]="-data.cant_dev"  class="inputnumber">
                       <div matRipple (click)="insercant(data.lote_prod, 0, i, data.cant)"  class="aumentadores">+</div>
                   </div>
               </div>
               <div class="seccions"><span class="titleitem">Cant. Sob.: </span><span  style="font-weight: 500;color: rgb(22, 255, 88);font-size: 17px;" id="total-{{data.lote_prod}}-{{i}}" class="text">{{ data.total }}</span> </div>
               <button id="btnsave-{{data.lote_prod}}-{{i}}" mat-raised-button class="butons" (click)="verified(true, data.lote_prod, data.finit, data.observ_dev, data.cant, data.lote_prod, i, false)">Guardar</button>
            </div>
         </div>
          <table class="tbitems1" style="margin: 40px 0px;" [ngStyle.xs]="{'display' : 'none'}">
            <tr class="tritems11">
                <td class="tditems11">Devolucion</td>
                <td class="tditems11">Desc. Lote</td>
                <td class="tditems11">Lote Prod</td>
                <td class="tditems11">Cant. Enfunde</td>
                <td class="tditems11">Cant. Dev</td>
                <td class="tditems11">Cant. Sob</td>
                <td class="tditems11">Motivo</td>
                <td class="tditems11"></td>
            </tr>
            <tr class="tritems12"  *ngFor="let data of arrDevs; index as i">
                <td class="tditems12" (click)="showdate()">{{ data.ffin | date: modedate }}</td>
                <td class="tditems12">{{ data.nom_lote }}</td>
                <td class="tditems12">{{ data.lote_prod }}</td>
                <td class="tditems12" (click)="showdate()">{{ data.cant }}</td>
                <td class="tditems12">
                    <div class="continput">
                        <div matRipple (click)="insercant1(data.lote_prod, 1, i, data.cant)" class="aumentadores">-</div>
                        <input type="number" id="input1-{{data.lote_prod}}-{{i}}" (changes)="insercant1(data.lote_prod, 2, i, data.cant)" (keyup)="insercant1(data.lote_prod, 2,i, data.cant)" [value]="-data.cant_dev"  class="inputnumber">
                        <div matRipple (click)="insercant1(data.lote_prod, 0, i, data.cant)"  class="aumentadores">+</div>
                    </div>
                </td>
                <td class="tditems12" style="font-weight: 500;color: rgb(17, 218, 74);font-size: 17px;" id="total1-{{data.lote_prod}}-{{i}}">{{ data.total }}</td>
                <td class="tditems12">{{ data.observ_dev }}</td>
                <td class="tditems12" style="display: flex;flex-direction: row;height: 48px;">
                    <button style="margin-top: 7px;" (click)="verified(true, data.lote_prod, data.finit, data.observ_dev, data.cant, data.lote_prod, i, true)" mat-icon-button class="btnicon" ><span class="iconst material-icons">save</span></button>
                    <button style="margin-top: 7px;" (click)="verified(false, data.lote_prod, 0, '', 0,'', 0, false)" mat-icon-button class="btnicon" ><span class="iconst material-icons">clear</span></button>
                </td>
            </tr>
            </table>
          
    </div>
<button [class.animatebtnfixed]="show" (click)="nextpage()" mat-fab class="itemnextpage" color="primary" aria-label="Example icon button with a delete icon"><mat-icon>spa</mat-icon></button>
</div>