

<div mat-dialog-content>
    <p>Confirma tu identidad</p>
    <mat-form-field appearance="fill">
      <mat-label>Ingresa tu contraseña</mat-label>
      <input [formControl]="password" minlength="1" maxlength="30" matInput>
      <mat-error *ngIf="password.hasError('required')">Ingrese una contraseña valida </mat-error>
    </mat-form-field>
  </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="yesClick()" cdkFocusInitial>Verificar</button>
    <button mat-button (click)="onNoClick()">Cancelar</button>
  </div>
  